@keyframes show {
    from {opacity: 0};
    to {opacity: 1};
}
body {
    margin: 0;
    padding: 0;
}
@media (max-width: 680px) {
    .container {
        flex-direction: column;
    }
    .container .loginpanel {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .container .loginpanel > input {
        flex: 1;
        border-radius: 5rem;
        padding: 0 1rem;
    }

    .container .basepanel .wrapper .header {
        display: none;
    }
    .container .basepanel .wrapper .inputfield {
        overflow: hidden;
        height: 3rem;
        border-radius: 22rem;
        margin: 0.5rem;
        min-height: 2rem;
        box-shadow: 0px 0px 8px -4px #000;
        padding: 0;
    }
    .container .basepanel .wrapper .inputfield input {
        border: 0;
        outline: none;
        padding: 0 1rem;
    }
}
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all 0.3s;
}